#include <resource.h>

#define ICO_MAIN  1000
#define DLG_MAIN  1000
#define IDC_INFO  1001
#define IDM_MAIN  2000
#define IDM_OPEN  2001
#define IDM_EXIT  2002


#define IDM_1    4000
#define IDM_2    4001
#define IDM_3    4002
#define IDM_4    4003

#define RESULT_MODULE 5000
#define ID_TEXT1  5001
#define ID_TEXT2  5002
#define IDC_MODULETABLE 5003
#define IDC_OK 5004
#define ID_STATIC 5005
#define ID_STATIC1 5006
#define IDC_BROWSE1 5007
#define IDC_BROWSE2 5008
#define IDC_THESAME 5009



ICO_MAIN  ICON  "main.ico"

DLG_MAIN DIALOG 50,50,544,399
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "PEComp"
MENU IDM_MAIN
FONT 9,"宋体"
BEGIN
   CONTROL "",IDC_INFO,"RichEdit20A",196 | ES_WANTRETURN | WS_CHILD | ES_READONLY
               | WS_VISIBLE |WS_BORDER | WS_VSCROLL | WS_TABSTOP,0,0,540,396
END

RESULT_MODULE DIALOG 76,10,630,480
STYLE DS_MODALFRAME | WS_POPUP |WS_VISIBLE | WS_CAPTION |WS_SYSMENU
CAPTION "result"
FONT 9,"Consolas"
BEGIN
  LTEXT "first file: ",ID_STATIC,10,13,200,15
  EDITTEXT ID_TEXT1,130,13,440,15
  PUSHBUTTON "view...",IDC_BROWSE1,570,13,50,14

  LTEXT "second file: ",ID_STATIC1,10,35,200,15
  EDITTEXT ID_TEXT2,130,35,440,15
  PUSHBUTTON "view...",IDC_BROWSE2,570,35,50,14

  CONTROL "", IDC_MODULETABLE, "SysListView32",13 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,60,610,390  

  AUTOCHECKBOX "only different" IDC_THESAME,10,460,100,14
  PUSHBUTTON "run...(&R)",IDC_OK,570,460,50,14
END

IDM_MAIN menu discardable
BEGIN
  POPUP "file(&F)"
  BEGIN
    menuitem "compare",IDM_OPEN
    menuitem "---",IDM_1
    menuitem "---",IDM_2
    menuitem "---",IDM_3 CHECKED
    menuitem separator
    menuitem "exit(&x)",IDM_EXIT
  END
  POPUP "edit(&E)"
  BEGIN
    menuitem separator
  END

  POPUP "format(&O)"
  BEGIN
    menuitem separator
  END

  POPUP "view(&V)"
  BEGIN
    menuitem "source",IDM_1
    menuitem "opacity",IDM_2
    menuitem separator
    menuitem "size",IDM_3
    menuitem "width",IDM_4
  END

  POPUP "help(&H)"
  BEGIN
    menuitem separator
  END

END
 